@import '../styles/_variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  min-height: 100%;
  background-color: #fff5cc;
  color: #222;
}

body {
  margin: 0;
}

::selection {
  background-color: $yellow2;
}
