@import '../styles/_variables.scss';

.Navigation {
  height: 100%;

  &__list {
    display: flex;
    list-style: none;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 1rem;
  }

  &__item {
    height: 100%;

    &--with-spacing {
      margin-left: 4rem;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: $black;
    transition: background-color .1s;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media (any-hover: hover) {
      &:hover {
        background-color: $yellow2;
      }
    }

    &--active {
      background-color: $black;
      color: $yellow;

      @media (any-hover: hover) {
        &:hover {
          background-color: $black;
        }
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    margin-right: .5rem;
  }
}
