@import '../styles/_variables.scss';

.ProjectGrid {
  padding-top: 4rem;
  padding-bottom: 3rem;

  &__more {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    text-align: center;
  }

  sk-slanted-teaser {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@media (min-width: $bp-medium) {
  .ProjectGrid {
    padding-top: 8rem;
    padding-bottom: 0;
    margin-bottom: 7rem;

    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      max-width: var(--max-width);
      margin-left: auto;
      margin-right: auto;
    }

    sk-slanted-teaser {
      max-width: none;
      margin-top: 0;
    }
  }
}
